
@{
    <form asp-action="CreateSubTask" asp-controller="Tasks">
        <p> Создание подзадачи</p>
        
            <div class="form-group">
                name:
                <input type="text" name="name" />
            </div>
            <div class="form-group">
                status:
                <select name="status" asp-items="Html.GetEnumSelectList<MyTask.Status>()">
                </select>
            </div>
            <div class="form-group">
                list of Performers:
                <input type="text" name="listOfPerformers" />
            </div>

            <div class="form-group">
                registration date:
                <input type="date" name="registrationDate" />
            </div>

            <div class="form-group">
                planed time:
                <input type="date" name="planedTime" />
            </div>

            <div class="form-group">
                real time:
                <input type="date" name="realTime" />
            </div>
            <p>
                <input type="submit" class="Primary" value="Создать" />
            </p>

    </form>
}
