@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

    var curTask = Model.curTask;
    <h3>@ViewBag.UpdateCheck</h3>
    <form asp-action="Update" asp-controller="Tasks">
        <div class="form-group">
            @Localizer["Name"]:
            <input type="text" asp-for="curTask.name" name="name" />
        </div>
        <div class="form-group">
            @Localizer["Status"]:
            <select asp-for="curTask.status" name="status" asp-items="Html.GetEnumSelectList<MyTask.Status>()">
            </select>
        </div>
        <div class=" form-group">
            @Localizer["ListOfPerformers"]:
            <input type="text" asp-for="curTask.listOfPerformers" name="listOfPerformers" />
        </div>
        <p>
            <input type="submit" class="Primary" value="Изменить" />
        </p>
    </form>

}